<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!-- Segment -->
  <!-- <ion-segment *ngIf="favoriteByGenre.length > 0" [value]="selectedCategory" (ionChange)="segmentChanged($event)" mode="md" scrollable>
    <ion-segment-button [value]="favorite.genre" *ngFor="let favorite of favoriteByGenre">
      <ion-label class="ion-text-capitalize">{{favorite.genre}}</ion-label>
    </ion-segment-button>
  </ion-segment> -->
  
  <!-- <ion-slides (ionSlideDidChange)="ionSlideDidChange()" #slides>
    <ion-slide *ngFor="let slide of genres"> -->

    
      <!-- Card -->
      <ion-grid fixed>
        <ion-row>
          <ion-col *ngFor="let movie of movies" size="12" sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3">
            <ion-card (click)="showDetails( movie.id )">
              <img [src]="movie.poster_path | imagen">
              <ion-card-header>
                <ion-card-title class="ion-text-left">{{movie.title}}</ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-text-left">{{movie.overview}}</ion-card-content>
              <ion-card-header>
                <ion-card-subtitle class="ion-text-right">{{movie.release_date}}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    <!-- </ion-slide>
  </ion-slides> -->
      
</ion-content>