.poster-detalle-sobre {
    position: relative;
    top: -105px;
    left: -10px;
    margin-bottom: -90px;
}

.poster-img {
    box-shadow: rgb(0 0 0 / 45%) 7px -9px 10px;
}

.titulo {
    width: 100%;
    position: absolute;
    color: white;
    background-color: red;
    padding: 5px 5px 40px 5px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.titulo h1{
    position: absolute;
    top: 12px;
    left: 10px;
    color: #f1f1f1;
    font-weight: 700;
}

.title {
    font-size: large;
}

.card-actor {
    height: auto;
}

.actor-name {
    position: relative;
    top:15px;
}

.btn-read-more {
    cursor: pointer;
    font-size: 15px;
    filter: opacity(0.5);
    -webkit-filter: opacity(0.5);
}

.backdrop-img {
    width: 100%;
}

.backdrop-container {
    position: relative;
    width: 100%;
    height: 20px;
    bottom: 20px;
    background: linear-gradient(to top, rgba(255, 255, 255) 1%, transparent, transparent, transparent);
}

.statistics-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -20px;
}

.statistics {
    --background: none;
}

ion-item {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

ion-slide {
    width: min-content;
}

ion-card {
    width: 100%;
}
